* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #f7f7ef;
  --black-900: #141414;
  --black-800: #1f1f1f;
  --white-800: #e1e1e1;
  --logo: #2483a6;
  --active: #a68a24;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  font-family: Roboto, sans-serif;
  background: var(--black-800);
  color: var(--white-800);
}

a {
  text-decoration: none;
  color: var(--white-800);
  cursor: pointer;
}

button {
  cursor: pointer;
}
