.header {
  display: flex;
  height: 5rem;
  max-width: 1180px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  label {
    font-size: 2.5rem;
    strong {
      font-size: 2.5rem;
      color: var(--logo);
    }
  }
  nav {
    display: flex;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 0 4rem;

    a {
      transition: color 0.2s;
      &:hover {
        color: var(--active);
      }
    }
  }
}
