//ALL FOOTER

.footer {
    display: flex;
    //background-imagem: linear-gradient(to bottom, --black-900, --black-800);
    background-image: linear-gradient(to bottom, #141414,#1f1f1f);
    margin-top: 120px;
    align-content: center;
    justify-content: center;
    //border-top: 2px solid white;
    box-shadow: 2px 2px 2px white;
    padding-top: 20px;
    padding-bottom: 20px;

}

//DIV LEFT

.footer_left {
    text-align: center;
    width: 500px;
    //background-color: orange;

}

// DIV RIGHT
.footer_right table {
    text-align: left;
    width: 800px;
    color: #fff;
    //background-color: yellow;

}
.footer_right td {
    width: 120px;
   // background-color: red;
    text-align: left;
    padding-left: 20px;
}
.footer_right th {
    width: 120px;
    text-transform: bold;
    font-size: 13pt;
   // background-color: red;
    text-align: left;
    padding-left: 20px;
}